<Virtualhost *:80>
    ServerName <%= @app_url %>
    DocumentRoot "<%= @app_drive %>/stacks/websites/<%= @app_url %>/www"
    <Directory "<%= @app_drive %>/stacks/websites/<%= @app_url %>">
        Options Indexes FollowSymLinks MultiViews
        Order allow,deny
        Allow from all
        AllowOverride All
    </Directory>
	SetEnv LN_APP_INIFILE "<%= @app_drive %>\stacks\conf\application.ini"
    php_admin_value memory_limit 96M
    
</VirtualHost>
